body{
    font-family: 'Merriweather', serif;
   
}

nav ul{

    list-style: none;
    text-align: right;
    
}
li{
    display: inline-block;
    margin-right: 40px;
    font-weight: bold;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange_font{

    color: rgba(255, 94, 0, 0.616);
}
.gray_font{
    color: rgba(139, 139, 139, 0.938);
}

.button_link{

    text-decoration: none;
    background-image: linear-gradient(45deg, blue,gray);
    padding: 10px 20px;
    border-radius: 7px;
    color: white;
    font-weight: 700;
}

.half_part{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half_part img{
    width: 93%;
}

section{
    height: 550px;
   
}

.top_part{
    background-color: peachpuff;
}
.bottom_part{
 background-color: plum;
}

.project_font{

    color: rgb(243, 102, 102);
    
}
.project_font1{

    color: rgb(94, 10, 146);
}
.latest_work h2{
    text-align: center;
    
}

.latest_work{
    background-color: rgb(243, 241, 241);
    padding-top: 1px;
}

.work_area{
    
    border-radius: 15px;
    background-color: white;
    width: 25%;
    height: 75%;

}

.color_text{
    color:grey;
}

.image_edit{

    padding-top: 30px;
 
   }

