body{
    font-family: 'Merriweather', serif;
   
}

nav ul{

    list-style: none;
    text-align: right;
    
}
li{
    display: inline-block;
    margin-right: 40px;
    font-weight: bold;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange_font{

    color: rgba(255, 94, 0, 0.616);
}
.gray_font{
    color: rgba(139, 139, 139, 0.938);
}

.button_link{

    text-decoration: none;
    background-image: linear-gradient(45deg, blue,gray);
    padding: 10px 20px;
    border-radius: 7px;
    color: white;
    font-weight: 700;
}

.half_part{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half_part img{
    width: 93%;
}

section{
    height: 550px;
}

.top_part{
    background-color: peachpuff;
}
.bottom_part{
 background-color: plum;
}

.project_font{

    color: rgb(243, 102, 102);
}
.project_font1{

    color: rgb(94, 10, 146);
}
.latest_work h2{
    text-align: center;
    
}

.latest_work{
    background-color: rgb(243, 241, 241);
    padding-top: 1px;
}

.work_area{
    
    border-radius: 15px;
    background-color: white;
    width: 25%;
    height: 75%;
}

.color_text{
    color:grey;
}

.image_edit{

    padding-top: 30px;
}


.button_link1{
    text-decoration: none;
        
    border-radius: 7px;
    color: white;
    font-weight: 700;
    margin-top: 180px;
    margin-left: 950px;
    padding: 20px 20px;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
}

.last_text{
   
 height: 400px;
 position: relative;
 display: block;
 background-image: url(images/image_6.png);
 background-repeat: no-repeat;
 background-position: center center;
 background-size: 60%;
   
}

.work{
    position: absolute;
    margin-left: 200px;
    padding: 150px;
    color: white;
}

.bottom_logo{
    text-align: center;
}
.stay{
    color: gray;
    font-weight: 600;
}
.email_id{
    font-weight: bold;
    color: rgb(114, 54, 156);
    font-size: 30px;
}

.image_group{
    text-align: center;
}

